MANAGED_GATEWAY_PORT=7831
MANAGED_GATEWAY_ENABLED=true
MANAGED_GATEWAY_SERVICE_NAME=managed-gateway
MANAGED_GATEWAY_MODE=skeleton
MANAGED_GATEWAY_DJANGO_INTERNAL_BASE_URL=http://127.0.0.1:8000
MANAGED_GATEWAY_STRICT_STARTUP_VALIDATION=true
